body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

header {
    margin-top: 24px;
    margin-bottom: 16px;
}

main {
    width: clamp(280px, 40vw, 1000px);
}

.form-section {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

input {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4px;
    flex: 1;
    max-width: 70%;
}

.add-btn {
    background-color: rgba(0, 128, 0, 1);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
    border: none;
}

.add-btn:hover {
    transform: scale(1.05);
}

.delete-btn {
    color: white;
    background-color: rgba(255, 0, 0, 1);
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.table-section {
    margin-top: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    color: rgba(0, 128, 0, 1);
    text-align: left;
}

table td, table th {
    padding: 0.5rem;
}